{{- /* Schema.org for an author.

       An author standing for a page of the persons section is described
       there, and this listing of their posts is about them, see
       pages/schema.html. One with no such page is only described here: the
       page is their profile, the way Google reads an author page. */ -}}
{{- $person := partial "func/GetRealPerson.html" . -}}
{{- if and (not (reflect.IsMap $person)) (ne $person.Permalink .Permalink) -}}
  {{- partial "pages/schema.html" . -}}
{{- else -}}
  {{- partial "commons/jsonld.html" (partial "func/GetSchemaWebPage.html" (dict
    "page" .
    "type" "ProfilePage"
    "mainEntity" (partial "func/GetSchemaPerson.html" .)
  )) -}}
{{- end -}}
